/** @format */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./header";
@import "./player";
@import "./images";

.nav-bar-second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
